.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #007bff; /* Change the color as needed */
    border-radius: 5px;
    color: #007bff; /* Change the color as needed */
    background-color: #ffffff; /* Change the color as needed */
    margin: 5px;
  }

  .btn:hover {
    background-color: #007bff;
    color: #ffffff;
  }