.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.font-b-600 {
  font-weight: 600;
}


.card{
  background-color: #ffffff;
  margin: 5px;
}

.border-solid-1 {
  border: 1px solid #000;
}

.d-flex{
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-content-center {
  justify-content: center;
}


.justify-content-between {
  justify-content: space-between;
}


.justify-content-space-between {
  justify-content: space-between;
}

.justify-content-end {
  justify-content: end;
}

.align-items-center {
  align-items: center;
}
.flex-column {
  flex-direction: column;
}

.border-dashed-1 {
  border: 1px dashed #000;
}


.border-dotted-1 {
  border: 1px dotted #000;
}


.p-10{
padding: 10px;
}

.b-r-10{
  border-radius: 10px;
}

.box-shadow-sm {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.active{
  color:#0b740b;
}

.text-capitalized {
  text-transform: capitalize;
}

.w-100{
  width: 100%;
}

.object-fix-cover{
  object-fit: cover;
}

.font-size-auto{
  font-size: auto;
}

.font-10{
  font-size: 10px;
}

.font-12{
  font-size: 12px;
}

.font-15{
  font-size: 15px;
}

.font-20{
  font-size: 20px;;
}

.text-left{
  text-align: left;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

